body {

}
h1
{
color:Blue;
background-color:Yellow;
font-family:Comic Sans MS;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 570px !important;
    margin: 0 auto -44px; /* -44px being the size of the footer */
    width: 1000px;
}

.header {
    height: 200px;
    background-color: cadetblue;
}

.push {
    height: 44px;
    background-color: azure;
}

.footer {
    text-align: center;
}

.columns {
    columns: 100px 3;
    -webkit-columns: 100px 3; /* Safari and Chrome */
    -moz-columns: 100px 3; /* Firefox */
}