<?xml version="1.0"?>
<configuration>
  
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="tom.list.verify@gmail.com">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="toms.list.verify" password="microsoft123" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="TomsListConnString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <membership defaultProvider="AspNetSqlMembershipProvider" >
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             connectionStringName="TomsListConnString"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="true"
             applicationName="Ben-Duong"
             requiresUniqueEmail="true"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="8"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true" />
    <authentication mode="Forms">
      <forms loginUrl="~/Views/Login.aspx" protection="All" timeout="400" name=".LoginPage"></forms>
    </authentication>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
</configuration>