<?xml version="1.0"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" port="587" userName="toms.list.verify@gmail.com" password="microsoft123" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\aspnetdb.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DBConnectionString" value="Data Source=(LocalDB)\v11.0; AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"/>
  </appSettings>
  <system.web>
    <roleManager enabled="true" />
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>