<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DBConnectionString" value="Data Source=(LocalDB)\v11.0; AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>