body {
    background-color: #188;
    padding-left: 50px;
    padding-right: 50px;
}
header {
    height: 100px;
    padding: 30px;
}

footer {
    height: 100px;
    padding: 30px;
}

#main-frame {
    background-color: #fff;
}
#main-content {

    padding: 30px;
    margin: auto;
   // width: 200px;
}

nav #menu {
    text-align: center;
}
nav #menu li {
    list-style: none;
    display: inline;

    padding-left: 10px;
    padding-right: 20px;
}

.left {
    position: relative;
    float: left;
}

.right {
    position: relative;
    float: right;
}

.inline {
    display: inline;
}


fieldset {
    border: none;
    //width: 600px;
    margin: 0px;
}
.form_label {
    display:inline-block;
    width:100px;
    margin-right:30px;
    text-align:right;
    vertical-align: top;
}
.form_field {
    width: 200px;
}


